
div.avatar img.round{	
	border-radius:60px;
	border:solid 5px #3EBB99;
	
}
div.avatar{
	height:220px;
	padding-top:20px;
	padding-left:112px;
	border-bottom:solid 5px #F6F5FA;
}

.p1{
	height:58px;
	border-bottom:solid 5px #F6F5FA;
}

.p_name{
	COLOR:#3EBB99;
	margin:auto 20px;
	
}
.tp1{
	margin-top:5px;
	font-size: 25px;
	margin-left:90px;
}
#title{
	margin:5px 20px;
	font-size:20px;
	margin-right:50px;
}
