<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      論壇
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-card>    
      <ion-item>
        <ion-avatar item-start>
          <img src="https://fortunedotcom.files.wordpress.com/2018/08/george-clooney-net-worth-tequila.jpg">
        </ion-avatar>
        <h2 class="name">Georgie C</h2>
      </ion-item>
    
      <img src="">
    
      <ion-card-content>
        <ion-item>
          <ion-textarea placeholder="寫點什麼吧!"></ion-textarea>
        </ion-item>  
        <ion-button block id="upload">
          <ion-icon name="image"></ion-icon>
          上傳照片
        </ion-button>
        <ion-button id="send">
          <ion-icon name="send"></ion-icon>
          發文
        </ion-button>
      </ion-card-content>
    </ion-card>
      
    <ion-card>    
      <ion-item>
        <ion-avatar item-start>
          <img src="https://fortunedotcom.files.wordpress.com/2018/08/george-clooney-net-worth-tequila.jpg">
        </ion-avatar>
        <h2 class="name">Georgie C</h2>
      </ion-item>
    
      <img src="https://media.architecturaldigest.com/photos/5cbddfbcf72d514141bb3984/16:9/w_1280,c_limit/GettyImages-1130704671.jpg">
    
      <ion-card-content>
        <p>bautiful woman</p>
      </ion-card-content>
      <ion-button block>
        <ion-icon name="heart"></ion-icon>
        喜歡
      </ion-button>	
      <ion-button>
        <ion-icon name="chatboxes"></ion-icon>
        留言
      </ion-button>	
    </ion-card>

      <ion-card>    
          <ion-item>
            <ion-avatar item-start>
              <img src="https://fortunedotcom.files.wordpress.com/2018/08/george-clooney-net-worth-tequila.jpg">
            </ion-avatar>
            <h2 class="name">Georgie C</h2>
          </ion-item>
        
          <img src="https://media.architecturaldigest.com/photos/5cbddfbcf72d514141bb3984/16:9/w_1280,c_limit/GettyImages-1130704671.jpg">
        
          <ion-card-content>
            <p>bautiful woman</p>
          </ion-card-content>
          <ion-button block>
            <ion-icon name="heart"></ion-icon>
            喜歡
          </ion-button>	
          <ion-button>
            <ion-icon name="paper"></ion-icon>
            留言
          </ion-button>	
        </ion-card>
      

</ion-content>
