<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goback()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>登入</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="icon">
    <img src="assets/icon/icon_small.png" width="200px">
  </div>
  <form [formGroup]="resetPasswordForm">
    <h1>取回您的帳號</h1>

    <ion-item lines="none">
      <ion-label position="stacked" text-align="justify">請輸入您的電子郵件，我們會傳送一份重設<br>密碼的郵件給您。</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="電子郵件"
        [class.invalid]="!resetPasswordForm.controls['email'].valid &&
        resetPasswordForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!resetPasswordForm.controls['email'].valid &&
      resetPasswordForm.controls['email'].touched">
      <ion-label>請輸入可用的電子郵件。</ion-label>
    </ion-item>

    <ion-button
      expand="block"
      (click)="resetPassword(resetPasswordForm)"
      [disabled]="!resetPasswordForm.valid">
      傳送密碼重設連結
    </ion-button>
  </form>
</ion-content>
