<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons id="cart" slot="end">
          <ion-icon name="cart"></ion-icon>
        </ion-buttons>
    <ion-title>
      商城
    </ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>
  
  <div class="product">
    <ion-card *ngFor="let item of product" 
            (click)="presentModal(item.Name, item.Photo, item.Detail, item.Video)">
      <img src="{{ item.Photo }}">
      <ion-card-header>
        <ion-card-title>{{ item.Name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
