<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      學習
    </ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>
  <ion-list>
    <ion-card >
        <img src="https://farm5.staticflickr.com/4262/35026452532_04b7e5e2eb_b.jpg">
        <ion-card-header>
          <ion-card-title>經絡課程-1</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          課程內容介紹
        </ion-card-content>
        <ion-button flat >更多</ion-button>
        <ion-button flat>加入收藏</ion-button>
    </ion-card>
    <div></div>
  </ion-list>
      <ion-card>
          <img src="https://farm5.staticflickr.com/4262/35026452532_04b7e5e2eb_b.jpg">
          <ion-card-header>
            <ion-card-title>經絡課程-2</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            課程內容介紹
          </ion-card-content>
          <ion-button flat>更多</ion-button>
        <ion-button flat>加入收藏</ion-button>
        </ion-card>

</ion-content>
