.note{
    margin-top:8%;
    margin-bottom:0;
}
.note p{
    text-align: center;
}
.pass{
    color:primary;
    text-align: center;
}
.icon{
    width:100%;
    height:48%;
    display: flex;
    align-items: center;
    justify-content:  center;
}
// img{
//     width:280px;
    
// }