<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
		穴道
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <ion-searchbar value="輸入穴道名稱、部位及疾病"></ion-searchbar>
	 <div class="timeacup"> 
		<pre>  現在時辰經脈:寅時3-5時 肺經 </pre>
   </div>
 <div class="time"> 
		<pre>   依疾病查找                    > </pre>
   </div>
<div class="time"> 
		<pre>   依穴位查找                    > </pre>
   </div>

<div class="time">
	<ion-col col-3>
		
	</ion-col>
</div>

<div class="time"> 
		<pre>    fuck off  </pre>
   </div>
</ion-content>


