.btn{
    background:#3EBB99;
    width:100%;
    align-content: center;
    padding-bottom: 10px;
}

.icon{
    height: 250px;
    display:flex;
    justify-content: center;
    vertical-align: middle;
}

ion-button{
    border:2px solid #fff;
    width:45%;
    font-weight: bold;
}

.content{
    height:100%;
    background:#3EBB99;    
    text-align: center;
    padding-top:50px;
}
