<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>個人</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="avatar">
		<img class="round" src="assets/images/original.jpg" style="width:120px; height:120px;"/>
		<h1 class="p_name">陷阱妹</h1>
		<h1></h1>
	</div>
	
	<div class="p1">
	
		<ion-icon class="tp1" name="star" size="large"></ion-icon>
      
    
	</div>
	
	<div class="p2">
		<ion-icon class="tp2" name="list-box" size="large"></ion-icon>
	
	</div>
	
	<div class="p3">
		<ion-icon class="tp3" name="walk" size="large" ></ion-icon>
	</div>
		
	<div class="p4">
		<ion-icon class="tp4" name="card" size="large"></ion-icon>
	</div>
</ion-content>
