.info{
    font-size: 10px; 
    color: grey;
}

.from{
    font-size: 10px;
}

.more{
    border-radius: 15px;
    :hover{
        color:#000;
    }
}

#noCmt{
    text-align: center;
}

.name{
    margin-left:10px;
}

.oneCmt{
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 15px;
}
