<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
		<h3><span></span>康趣絡</h3>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-searchbar></ion-searchbar>
   <div class="slide-bar">
	<ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/images/slide1.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/slide2.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/slide3.jpg" />
      </ion-slide>
    </ion-slides>
   </div>
   <div class="time"> 
		fuck off
   </div>
   <div> 
		fuck off
   </div>
</ion-content>
