<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      發現
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
   
   <div class="slide-bar">
	<ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/images/slide1.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/slide2.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/slide3.jpg" />
      </ion-slide>
    </ion-slides>

	</div>
	
	<div padding>
    
    <!-- Segment 配合ngSwitch使用 -->
<ion-segment [(ngModel)]="change">
  <ion-segment-button value="post">
      文章
  </ion-segment-button>
  <ion-segment-button value="comment">
      論壇
  </ion-segment-button>
  <ion-segment-button value="news">
      新聞
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="change">
  <div *ngSwitchCase="'post'">
    <h1>Page 1</h1>
  </div>
  <div *ngSwitchCase="'comment'">
    <h1>Page 2</h1>
  </div>
  <div *ngSwitchCase="'news'">
    <h1>Page 3</h1>
</div>
</div>
    
	</div>
	
	
	
	
</ion-content>
