<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>關於經絡</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">
      <p class="content">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        經絡學說，是中國老祖宗的智慧，也是中醫以及按摩領域的專業人士，在幫人服務時，所依循的資訊，或者說輔助教材之一。<br><br>
        目前經絡學說，在坊間，可以找到很多有深意的解釋與獨到看法，在協會裡，在分享DIY課程中，也是依循這樣的一個思考模式，
        透過簡單的自我舒緩，以期達到緩解疼痛的效果，避免依賴藥物成癮。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        經絡猶如城市裡的道路，又如同地球的經緯度，它在身體裡無法真實被找到，但是又真實存在，主要是生物電力釋放，遠達下一個穴位，
        這樣由點到線到面，連成一個網絡，除了體表的365個穴位之外，吾相信在人體內部，還存在著更多的穴位，如此經絡就不僅僅只是體表的12條，
        外加任督二脈以及奇經八脈這樣簡單了。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        這裡有個這樣的看法，比如現在手機，人人都有，所以就很好解釋，比如你從甲地要到達乙地，手機會請你輸入現在位置，以及要去地確實位置，
        然後手機會有幾個選擇給你，比如是步行、單車或者公車跟汽車。都可以到達，但是會有不同路徑，在地圖上會連成一條線，這樣虛擬的一條線，
        你真的要在路上去找這條線是找不到的，可是你會照著這樣的一條路徑去行走或者行駛。這個表現在人體內部，那就是經絡了。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        經絡可以說是能量層的層次，它是生物電彼此交互作用達成共震之後的連結，因為有電子釋放，所以我們看到針灸都是金屬材質，因為易於導電，
        增加效能。但它是微量電力的互相影響，根據身體的氣血充足與否有關，絕非我們一般所知電線裏頭的電力。
        我們體內很多內分泌賀爾蒙都傳遞都是靠這樣的微電力引導傳遞的。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        以此得知，人體有生命的時候，經絡才可能存在，失去生命，就沒有經絡的展現，沒有了靈魂，經絡存在也沒有意義了，因為電力影響，
        絕非只限於身體的框架，它是遠遠超過我們身體以外的，所以天干地支，都會影響一個人的磁場。而經絡只是身體萬千表現的其中一個部份而已。
      </p>
  </div>
</ion-content>
