<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="title">
		穴道
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <ion-searchbar placeholder="輸入課程提及的穴道名稱"></ion-searchbar>
	 <ion-item class="timeacup"> 
		<pre>課程中所提及的穴道介紹</pre>
   </ion-item>
   <ion-list>
      <ion-card >
          <img src="http://yibian.hopto.org/pic/acu/norm/14/fengfu(j&a).jpg">
          <ion-card-header>
            <ion-card-title>風府穴</ion-card-title>
          </ion-card-header>
        
          <ion-button flat >更多</ion-button>
      </ion-card>
      <div></div>
      <ion-card >
          <img src="http://pic.pimg.tw/celestecat/1200064943.jpg">
          <ion-card-header>
            <ion-card-title>風池穴</ion-card-title>
          </ion-card-header>
        
          <ion-button flat >更多</ion-button>
      </ion-card>
    </ion-list>
</ion-content>


