<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons id="cart" slot="end">
          <ion-icon name="cart"></ion-icon>
        </ion-buttons>
    <ion-title>
      商城
    </ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>
  
    <ion-card>
        <img src="https://cbu01.alicdn.com/img/ibank/2014/779/553/1403355977_717789860.310x310.jpg">
        <ion-card-header>
          <ion-card-title>按摩棒A</ion-card-title>
        </ion-card-header>
      
        <ion-button flat>更多</ion-button>
        <ion-button flat>加入購物車</ion-button>
      </ion-card>
      <div></div>
      <ion-card>
          <img src="https://cbu01.alicdn.com/img/ibank/2014/779/553/1403355977_717789860.310x310.jpg">
          <ion-card-header>
            <ion-card-title>按摩棒B</ion-card-title>
          </ion-card-header>
        
          <ion-button flat>更多</ion-button>
        <ion-button flat>加入購物車</ion-button>
        </ion-card>

</ion-content>
