<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons id="cart" slot="end">
          <ion-icon name="cart"></ion-icon>
        </ion-buttons>
    <ion-title>
      商城
    </ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content>
  
  <ion-card *ngFor="let item of product">
    <img src="{{ item.Photo }}">
    <ion-card-header>
      <ion-card-title>{{ item.Name }}</ion-card-title>
    </ion-card-header>
  
    <ion-button flat (click)="goDetail(item)" >更多</ion-button>
    <ion-button flat>加入購物車</ion-button>
  </ion-card>

</ion-content>
