.time{
	padding:0;
	height:40px;
	margin-left:0px;
	background:#fff;
	color:000;
	top:-20px;
	border-bottom:solid 5px #F6F5FA;
	}
.timeacup{
	padding:0;
	height:60px;
	margin-left:0px;
	background:#fff;
	color:#3EBB99;
	top:-20px;
	font-size:16pt;
	border-top:solid 5px #F6F5FA;
	border-bottom:solid 5px #F6F5FA;
	}