<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>FAQ專區</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <p class="faq">
      Q:如何更改密碼？<br>
      A:使用者可以在左側清單中設置裡的更改密碼選項去做更改的動作
      <br><br>
      Q:影片測驗點數如何使用？<br>
      A:可在商城換取折扣或用於解鎖付費內容
      <br><br>
      Q：首次登入後跳出的提示資訊？<br>
      A:首次登入的使用者必須重新整理，才能正確的顯示側選單
      <br><br>
      Q:匯款後需要多久才能拿到訂購的產品？<br>
      A:訂購的產品正常出貨程序大約三至五個工作天會收到您訂購的產品
      <br><br>
      Q:有提供經絡針灸相關的資訊嗎？<br>
      A:很抱歉，基於法律的規定，推廣侵入式治療或是誇大療效都是不允許的，還請您見諒
      <br><br>
      Q:如何更換頭像？<br>
      A:點擊個人資訊中的頭像編輯，可更換頭像
      <br><br>
      Q:穴道頁面中的穴道是全部的經絡穴道？<br>
      A:目前內容尚未涵蓋全範圍的經絡穴道資訊，不過會持續更新，感謝您的支持      
    </p>
  </div>
</ion-content>
