<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>個人</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="avatar">
		<img class="round" src="assets/images/avatar.png" style="width:120px; height:120px;"/>
		<h1 class="p_name">帳號名</h1>
		<h1></h1>
	</div>
	<ion-list>
		<div class="p1">
			<ion-icon class="tp1" name="heart"></ion-icon>   
			<ion-label id="title">我的收藏</ion-label>
		</div>	
		<div class="p1">
			<ion-icon class="tp1" name="walk"></ion-icon>   
			<ion-label id="title">我的筆記</ion-label>
		</div>
		<div class="p1">
			<ion-icon class="tp1" name="star"></ion-icon>   
			<ion-label id="title">我的留言</ion-label>
		</div>
		<div class="p1">
			<ion-icon class="tp1" name="star"></ion-icon>   
			<ion-label id="title">我的點數</ion-label>
		</div>
	</ion-list>
</ion-content>
