.point{
    font-size: 60px;
    font-weight: bold;
	margin:auto;
	display:flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

#coin{
    color: #3EBB99;
    font-size: 20px;
    bottom: 0;
}

.title{
    ion-icon{
        align-items: center;
        vertical-align: middle;     
        color: #3EBB99;
    }
}